
<app-navbar></app-navbar>

<div class="back">
  <div class="container row">
	    <div class="col m6 s12 white-text"><h4 style="padding-top: 5rem">Become a partner with fichaya and make money cleaning.</h4></div>

	    <div class="col m6 s12 form-body" align="center">
	    		<h4 class="primary-text">Customer Login</h4>
		    	<form class="row" (submit)="submitForm()">
		    		<div class="input-field col m12 s12">
					    <input class="" type="text" placeholder="email or phone number" name="loginvalue" [(ngModel)]="loginvalue" required="">
					</div>
					<div class="input-field col m12 s12">
					    <input class="" type="password" placeholder="password" name="password" [(ngModel)]="password" required="">
					</div>
					<div class="input-field col m12 s12">
		    			<button class="btn btn-primary" type="submit">Login</button>
		    		</div>
		    	</form>
	    	<!-- <br> -->
	    	<h6>Not yet registered? <a routerLink="/customer/register">Register now</a></h6>

	    </div>
  </div>
</div>

					