

<div class="back">
  <div class="container">
  	<div class="row">
	    <div class="one-half column white-text"><h4 style="padding-top: 10rem">Become a partner with fichaya and make money cleaning.</h4></div>

	    <div class="one-half column form" align="center">
	    	<div class="withmail">
	    		<h3 class="primary-text">Customer Login</h3>
		    	<form class="row" novalidate="">
		    		<input class="u-full-width" type="email" placeholder="email">
		    		<input class="u-full-width" type="password" placeholder="password">
		    		<a class="button button-primary">Login</a> 
		    	</form>
		    	<button class="button button-primary viewphone" style="opacity: 0.8">Login with phone number</button>
	    	</div>

	    	<div class="withphone">
	    		<h3 class="primary-text">Customer Login</h3>
		    	<form class="row" novalidate="">
		    		<input class="u-full-width" type="number" placeholder="phone number">
		    		<input class="u-full-width" type="password" placeholder="password">
		    		<a class="button button-primary">Login</a> 
		    	</form>
		    	<button class="button button-primary viewmail" style="opacity: 0.8">Login with email</button>		    	
	    	</div>
	    	<br>
	    	<h6>Not yet registered? <a routerLink="/customer/register">Register now</a></h6>

	    </div>
    </div>
  </div>
</div>
