<div class="container row">
	<h4 class="center">Book Your Cleaning Service</h4>
	<br><br>

	<!-- =====
		STEP 1 START
		====== -->
	<div class="row center step1">
		<div class="col m4 s4">
			<a class="btn-floating btn-large waves-effect waves-light"><h5>1</h5></a>
			<hr style="height: 10px; background-color: #000080; width: 100%">
		</div>
		<div class="col m4 s4">
			<a class="btn-floating btn-large waves-effect waves-light disabled"><h5>2</h5></a>
			<hr style="height: 10px; background-color: #dfdfdf">
		</div>
		<div class="col m4 s4">
			<a class="btn-floating btn-large waves-effect waves-light disabled"><h5>3</h5></a>
			<hr style="height: 10px; background-color: #dfdfdf">
		</div>
	

		<div class="row plans col s12 m12">

			<div class="col m3 s12 center plan">
				<h5>Daily</h5>
				<label>Select Bedroom Type</label>
		        <select>
		            <option value="">1 - 3 Bedrooms</option>
		            <option value="">4 Bedrooms</option>
		            <option value="">5 Bedrooms</option>
		        </select>
		        <a class="btn" href="#">Book Now</a>
			</div>

			<div class="col m1 s12"></div>

			<div class="col m3 s12 center plan">
				<h5>Weekly</h5>
				<label>Select Bedroom Type</label>
		        <select>
		            <option value="">1 - 3 Bedrooms</option>
		            <option value="">4 Bedrooms</option>
		            <option value="">5 Bedrooms</option>
		        </select>
		        <a class="btn" href="#">Book Now</a>
			</div>

			<div class="col m1 s12"></div>

			<div class="col m3 s12 center plan">
				<h5>Monthly</h5>
				<label>Select Bedroom Type</label>
		        <select>
		            <option value="">1 - 3 Bedrooms</option>
		            <option value="">4 Bedrooms</option>
		            <option value="">5 Bedrooms</option>
		        </select>
		        <a class="btn" href="#">Book Now</a>
			</div>

			<div class="col m1 s12"></div>

		</div>

	</div>
	<!-- =======
		STEP 1 END
		======= -->


	<!-- =====
		STEP 2 START
		====== -->
	<div class="row center step2">
		<div class="col m4 s4">
			<a class="btn-floating btn-large waves-effect waves-light"><h5>1</h5></a>
			<hr style="height: 10px; background-color: #000080">
		</div>
		<div class="col m4 s4">
			<a class="btn-floating btn-large waves-effect waves-light"><h5>2</h5></a>
			<hr style="height: 10px; background-color: #000080">
		</div>
		<div class="col m4 s4">
			<a class="btn-floating btn-large waves-effect waves-light disabled"><h5>3</h5></a>
			<hr style="height: 10px; background-color: #dfdfdf">
		</div>
		
		<div class="row">
			<h4>Set Cleaning Details</h4>

			<div class="input-field col m12 s12">
                <input type="text" placeholder="House Address">
            </div>
            <div class="input-field col m4 s6">
                <input type="text" placeholder="Nearest Bus-Stop">
            </div>
            <div class="input-field col m4 s6">
                <input type="text" placeholder="Location (Lekki, Ikoyi, Yaba)">
            </div>
            <div class="input-field col m4 s6">
            	<select>
            		<option disabled selected>City / Area</option>
		            <option value="">Island</option>
		            <option value="">Mainland</option>
		        </select>
            </div>
            <div class="input-field col m4 s6">
                <input type="date" class="datepicker" placeholder="Cleaning Date">
            </div>
            <div class="input-field col m4 s6">
                <input type="text" class="timepicker" placeholder="Cleaning Time">
            </div>
		</div>

		

	</div>
	<!-- =======
		STEP 2 END
		======= -->



</div>


