.plan{
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 1px 15px 1px #ccc;
  color: #000080;
}

.plans{
	padding: 5rem 0;
}

.step1, .step2 {
	min-height: 100%;
	padding: 2rem;
}

.step2, .paymentButton{
	display: none;
}

.cleaner-details{
	padding: 1.5rem;
	color: #000080;
}


@media (max-width: 450px) {
  .plans{
  	padding-left: 0;
  }
}