
<div class="main-wrap">    
    <div class="body-view">
        <app-sidebar></app-sidebar>
        <div class="container">
            <h3 style="padding-left: 10rem"><a href="#" data-activates="slide-out" class="side-nav-open">
            	<i class="ion-navicon"></i>
            </a></h3>
            <h4>{{title}}</h4>
            <br><br>

            <div class="row table-body">
            <form  (submit)="updateDetails()" *ngIf="loaded">
                <h5>Personal Information</h5>
                
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Firstname" name="firstname" [(ngModel)]="user.name.firstname">
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Lastname" name="lastname" [(ngModel)]="user.name.lastname">
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" placeholder="Phone Number" name="phone" [(ngModel)]="user.phone">
                </div>
                <div class="input-field col m3 s12">
                    <select name="subscription" [(ngModel)]="user.plan.subscription">
                        <option *ngFor="let s of subscriptions" [value]="s">{{s}}</option>
                    </select>
                </div>
                <div class="input-field col m6 s12">
                    <input type="text" placeholder="House Address" name="address" [(ngModel)]="user.address.address">
                </div>
                <div class="input-field col m3 s12">
                    <input type="text" placeholder="Nearest Bus-Stop" name="busstop" [(ngModel)]="user.address.busstop">
                </div>
                <div class="input-field col m3 s12">
                    <input type="text" placeholder="Location (Lekki, Ikoyi, Yaba)" name="location" [(ngModel)]="user.address.location">
                </div>
                <div class="input-field col m5 s12">
                  <input type="text" class="validate" placeholder="Email" name="email" [(ngModel)]="user.email" disabled="">
                </div>
                <div class="input-field col m3 s12">
                    <select name="location" [(ngModel)]="user.address.location">
                        <!-- <option selected value="{{user.address.location}}">{{user.address.location}}</option> -->
                        <option *ngFor="let location of locations" [value]="location">{{location}}</option>
                    </select>
                </div>
                <div class="input-field col m3 s12">
                    <select name="type" [(ngModel)]="user.plan.type">
                        <option>here</option>
                        <!-- <option selected value="{{user.address.location}}">{{user.address.location}}</option> -->
                        <option *ngFor="let t of types" [value]="t">{{t}}</option>
                    </select>
                </div>
                <div class="col s12 center" style="padding-top: 10px">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

            </form>
            </div>

            <br><br>

        </div>      
    </div>
</div>

