
<div class="main-wrap">    
    <div class="body-view">
        <app-sidebar></app-sidebar>
        <div class="container">
            <h3 style="padding-left: 10rem"><a href="#" data-activates="slide-out" class="side-nav-open">
            	<i class="ion-navicon"></i>
            </a></h3>
            <h4>{{title}}</h4>
            <br><br>

            <div class="row table-body"><form>
                <h5>Personal Information</h5>
                
                <div class="input-field col m6 s12">
                  <input type="text" class="validate" placeholder="Firstname">
                </div>
                <div class="input-field col m6 s12">
                  <input type="text" class="validate" placeholder="Lastname">
                </div>
                <div class="input-field col m6 s12">
                  <input type="text" class="validate" placeholder="Email">
                </div>
                <div class="input-field col m3 s12">
                  <input type="text" class="validate" placeholder="Phone Number">
                </div>
                <div class="input-field col m3 s12">
                    <select>
                      <option value="" disabled selected>Plan</option>
                      <option value="">Daily</option>
                      <option value="">Weekly</option>
                      <option value="">Monthly</option>
                    </select>
                </div>
                <div class="input-field col m12 s12">
                  <input type="text" class="validate" placeholder="Address">
                </div>
                <div class="col s12 center" style="padding-top: 10px">
                    <button class="btn btn-primary" type="">Update</button>
                </div>
            </form></div>

            <br><br>

        </div>      
    </div>
</div>

