<header class="main_h">
    <div class="row-nav">
        <a class="logo" routerLink='/'>FICHAYA</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a routerLink='/index' routerLinkActive='active'>Home</a></li>
                <li><a routerLink='' routerLinkActive='active'>About</a></li>
                <li><a routerLink='/customer/login' routerLinkActive='active' class="button button-primary">Login</a></li>
            </ul>
            <!-- <ul>
                <li class="white-text">Customer</li>
                <li class="white-text">Cleaner</li>
            </ul> -->
        </nav>
        
    </div> 
</header>
