@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
}

* {
	font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

body, html {
   height:100%;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.primary-text {
	color: #000080;
}

.primary-background {
	background-color: #000080;
}

.white-text{
	color:  #fff;
}

.white{
	background-color: #fff;
}

.button {
  border-radius: 100px;
}