@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
}

* {
	font-family: 'Raleway', sans-serif;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.primary-text {
	color: #001473;
}

.primary-background {
	background-color: #001473;
}