@font-face {
    font-family: 'Gotham';
    src: url('/assets/fonts/GothamRoundedBook.ttf');
}

* {
	font-family: "Gotham",
              -apple-system, 
              BlinkMacSystemFont, 
              "Segoe UI", 
              Roboto, 
              Oxygen,
              Ubuntu,
              Cantarell,
              sans-serif !important;
}

body, html {
   height:100%;
}

.responsive-img {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  font-weight: 300  !important;
}

.primary-text {
	color: #00003D;
}

.primary-background {
	background-color: #00003D;
}

.white-text{
	color:  #fff;
}

.white{
	background-color: #fff;
}

/*
html {
  font-size: 80%; 
}

body {
  font-size: 1.5em;
  line-height: 1.5;
  color: #222; 
}
*/