<app-navbar></app-navbar>

<landing-page></landing-page>

<footer class="footer">
	<div class="row">
		<div class="one-half column">
			<div class="one-half column">
				<h6>Legal</h6>
			</div>
    		<div class="one-half column">
    			<h6>Site Links</h6>
    		</div>
		</div>
    	<div class="one-half column">
    		<div class="one-half column">
				<h6>Coming Soon</h6>
			</div>
    		<div class="one-half column">
    			<h6>Contact</h6>
    		</div>
    	</div>
		<div class="twelve colunms" align="center">
			<h6>&copy; J Concierge Services 2018</h6>
		</div>
	</div>
</footer>