
  <app-navbar></app-navbar>
  
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column center">
          <h1 class="white-text">IT'S THE SERVICE...</h1>
          <h5 class="white-text">Book Your Home Claning Today From &#8358;15,000 per Month</h5>
          <div class="row">
            <div class="ten columns">
              <input class="u-full-width" type="number" placeholder="Enter phone number to start" id="" minlength="11"  style="opacity: 0.8">
            </div>
            <div class="two columns">
              <a class="btn btn-large" routerLink="/get-started" style="opacity: 0.8">Get Started</a>
            </div>
          </div>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="{{android}}">
          <img class="phone" src="{{iphone}}">
        </div>
      </div>
    </div>
  </div>

  <div class="section pricing">
    <div class="container">
      <h3 class="section-heading">Plans &amp; Pricing</h3>
      <div class="row">
        <div class="plans one-third column">
          <h4 class="plan-title">Daily</h4>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <label>Select Bedroom Type</label>
          <select class="u-full-width">
            <option value="">1 - 3 Bedrooms</option>
            <option value="">4 Bedrooms</option>
            <option value="">5 Bedrooms</option>
          </select>
          <a class="button" href="#">Book Now</a>
        </div>

        <div class="plans one-third column">
          <h4 class="plan-title">Weekly</h4>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <label>Select Bedroom Type</label>
          <select class="u-full-width">
            <option value="">1 - 3 Bedrooms</option>
            <option value="">4 Bedrooms</option>
            <option value="">5 Bedrooms</option>
          </select>
          <a class="button" href="#">Book Now</a>
        </div>

        <div class="plans one-third column">
          <h4 class="plan-title">Monthly</h4>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <label>Select Bedroom Type</label>
          <select class="u-full-width">
            <option value="">1 - 3 Bedrooms</option>
            <option value="">4 Bedrooms</option>
            <option value="">5 Bedrooms</option>
          </select>
          <a class="button" href="#">Book Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <h3 class="section-heading white-text">How It Works</h3>
      <div class="row">
        <div class="plans three columns">
          <h1 class="plan-title"><i class="ion-ios-arrow-thin-right"></i></h1>
          <h5>Sign In</h5>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="plans three columns">
          <h1 class="plan-title"><i class="ion-ios-bookmarks-outline"></i></h1>
          <h5>Choose Your Plan</h5>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="plans three columns">
          <h1 class="plan-title"><i class="ion-card"></i></h1>
          <h5>Pay Securely</h5>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="plans three columns">
          <h1 class="plan-title"><i class="ion-ios-paperplane"></i></h1>
          <h5>Enjoy Our Service</h5>
          <p class="plan-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h3 class="section-heading primary-text">Why Fichaya?</h3>
        <div class="row">
          <div class="one-half column">
            <img src="{{why2}}" class="why-img responsive-img">
          </div>
          <div class="one-half column why">
            <h5>Professional And Trusted Cleaners</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="one-half column why">
            <h5>The BEST platform to find your cleaner</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="one-half column">
            <img src="{{why1}}" class="why-img responsive-img">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="one-half column">
            <img src="{{why3}}" class="why-img responsive-img">
          </div>
          <div class="one-half column why">
            <h5>Reliable Customer Service</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      
    </div>
  </div>


  <div class="section">
    <div class="container">
      <h3 class="section-heading primary-text">Testimonials</h3>
        
    </div>
  </div>

  <div class="section" align="center">
    <h3 class="primary-text">Get The BEST Cleaning Service You Need Today!</h3>
    <a class="button button-primary" href="#">Get Started</a>
    <br><br><br>
  </div>

<app-footer></app-footer>