

.button {
  border-radius: 100px;
}

.section {
  padding: 4rem 0 2rem;
  text-align: center;
}

.section-heading {
  padding-top: 1rem;
}

.hero{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/assets/images/bg-3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7rem 0;
}

.plan-title {
  margin-bottom: 1rem;
  color: #00003D;
}

.plan-description {
  opacity: .8;
  font-weight: 300;
}

.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 4rem 0 2rem;
  }
  .hero {
    padding: 7rem 0;
    text-align: left;
    height: 165px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    min-height: 190px;
    padding: 10rem 0 16rem;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 4.5rem 0 2rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 4.5rem 0 2.25rem;
  }
  .hero {
    padding: 12rem 0 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
}

.light-text {
  color: #00006c;
}

.adv{
  background-color: transparent;
  color: #00003D;
}

.why{
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 61, 0.2);
  border-radius: 5px;
  padding: 3rem;
}

.process{
  border-radius: 5px;
  padding: 0 2rem 0 2rem;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 61, 0.08);
}

.process:hover{
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 61, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.process p {
  color: #092137;
  font-weight: bold;
}

.start{
  background-color: #fff;
  position: relative;
  color: #000;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: -10rem;
  box-shadow: 10px 14px 41px rgba(0, 0, 0, 0.08);
}

.advantage{
  background: linear-gradient(0deg,rgba(0, 0, 61, 0.19),rgba(0, 0, 61, 0.19)),url('/assets/images/circle-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clean-better{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.19),rgba(0, 0, 61, 0.19)),url('/assets/images/circle-background-2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials{
  background: linear-gradient(0deg,rgba(255, 255, 255, 0.19),rgba(255, 255, 255, 0.19)),url('/assets/images/testimonial-back.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
}

.testimonial-item{
  padding: 3.5rem 3.5rem 2rem 3.5rem !important;
  min-height: 150px !important;
  box-shadow: 10px 28px 41px rgba(0, 0, 61, 0.19);
  border-radius: 5px;
}

@media (max-width: 800px) {
  .testimonial-item{
    width: 90% !important;
    box-shadow: 10px 15px 20px rgba(0, 0, 61, 0.19);
  }

}

