
  <app-navbar></app-navbar>
  
  <div class="hero">
    <div class="container row">
      <div class="s12 m12 center">
        <h3 class="white-text">RELAX, WE'LL CLEAN IT FOR YOU</h3>
        <h5 class="white-text">Book Your Home Claning Today From <br> &#8358;15,000 per Month</h5>
          <div class="col s12 m3"></div>
          <div class="col s12 m4">
            <input class="" type="text" placeholder="Enter phone number to start" id="" style="opacity: 0.8">
          </div>
          <div class="col s12 m2">
            <a class="btn btn" routerLink="/get-started" style="opacity: 0.9">Get Started</a>
          </div>
          <div class="col s12 m3"></div>
      </div>
    </div>
  </div>

  <div class="section">
      <div class="row container">
        <div class="col s12 m2"></div>

        <div class="process col s12 m2">
          <h1 class="plan-title"><img src="assets/images/register.png"></h1>
          <h5 class="primary-text">Register</h5>
          <p class="plan-description">Create an account with your email or phone number.</p>
        </div>

        <div class="col s12 m1"></div>

        <div class="process col s12 m2">
          <h1 class="plan-title"><img src="assets/images/schedule.png"></h1>
          <h5 class="primary-text">Create Schedule</h5>
          <p class="plan-description">Pick a plan &amp; schedule that suits you.</p>
        </div>

        <div class="col s12 m1"></div>

        <div class="process col s12 m2">
          <h1 class="plan-title"><img src="assets/images/pay.png"></h1>
          <h5 class="primary-text">Pay Securely</h5>
          <p class="plan-description">Pay for our services securely.</p>
        </div>

        <div class="col s12 m2"></div>
      </div>
  </div>

  <div class="section" style="background-color: #e6e6ff">
    <h4 class="section-heading primary-text">THE FICHAYA ADVANTAGE</h4>
    <div class="container">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item adv" href="#one!">
          <div class="row" style="padding-top: 4rem">
            <div class="col s12 m5"></div>
            <div class="col s12 m7 left-align">
              <h4>Well trained personnel</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquam.</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item adv" href="#two!">
          <div class="row" style="padding-top: 4rem">
            <div class="col s12 m5"></div>
            <div class="col s12 m7 left-align">
              <h4>5 star satisfaction</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquam.</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item adv" href="#three!">
          <div class="row" style="padding-top: 4rem">
            <div class="col s12 m5"></div>
            <div class="col s12 m7 left-align">
              <h4>Professional cleaning</h4>
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquam.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section">
    <div class="container row">
      <h4 class="section-heading primary-text">WHY BOOK CLEANING SERVICES WITH FICHAYA?</h4>
      <h5 class="primary-text">At Fichaya, we serve 2 customers:</h5>

      <div class="container">
        <div class="col s12 m12 row why">
          <div class="col s12 m3">
            <img src="assets/images/homeowner.jpg" width="150px" height="150px" style="border-radius: 5px">
          </div>
          <div class="col s12 m9 left-align">
            <h5 class="primary-text">Home Owners</h5>
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</h5>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="col s12 m12 row why">
          <div class="col s12 m3">
            <img src="assets/images/cleaner.jpg" width="150px" height="150px" style="border-radius: 5px">
          </div>
          <div class="col s12 m9 left-align">
            <h5 class="primary-text">Fichaya Pros</h5>
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</h5>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section" style="background-color: #E5E5E5">
    <div class="container">
      <h4 class="section-heading primary-text light-text">WE CLEAN IT BETTER</h4>
      <div class="row">
        <div class="col s6 m4 row">
          <div class="col s6 m4">
            <br>
            <img src="assets/images/laundry.png">
          </div>
          <div class="col s6 m8 left-align">
            <h5 class="light-text">Laundry*</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
          </div>
        </div>

        <div class="col s6 m4 row">
          <div class="col s6 m4">
            <br>
            <img src="assets/images/house.png">
          </div>
          <div class="col s6 m8 left-align">
            <h5 class="light-text">General Cleaning</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
          </div>
        </div>

        <div class="col s6 m4 row">
          <div class="col s6 m4">
            <br>
            <img src="assets/images/iron.png">
          </div>
          <div class="col s6 m8 left-align">
            <h5 class="light-text">Ironing*</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
          </div>
        </div>

        <div class="col s6 m4 row">
          <div class="col s6 m4">
            <br>
            <img src="assets/images/spray.png">
          </div>
          <div class="col s6 m8 left-align">
            <h5 class="light-text">Floor &amp; window cleaning*</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli.</p>
          </div>
        </div>

        <div class="col s6 m4 row"></div>

        <div class="col s6 m4 row">
          <br><br>
          <button class="btn-large white light-text">Schedule a cleaning <img src="assets/images/star.png"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h4 class="section-heading primary-text">WHAT OUR USERS SAY</h4>
        
    </div>
  </div>

  <div class="section" align="center" style="background-color: #000080; padding-top: 7rem">
    <div class="container start">
      <h3 class="primary-text">Start using Fichaya today</h3>
      <h5 class="primary-text">Get world-class cleaning service <br>&amp; give your house the care it deserves</h5>
      <a class="btn-large btn-primary" href="#">Get Started</a>
      <br><br><br>
    </div>
  </div>


<app-footer></app-footer>